<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>P3</title>
</head>

<body>
  <header>
    <h1><abbr title="Payment Providers Prototype">P3</abbr> Samples</h1>
  </header>

  <main role="main">
  <section>
    <h2>Paddle</h2>
    <h3>Sample Product 1</h3>
    Use coupon <em>75F4A660</em>
    <a href="#!" class="paddle_button" data-product="508528" data-allow-quantity="false" data-email="sam+sandbox008@razeware.com">Buy Now!</a>

    <h3>Sample Product 2</h3>
    <a href="#!" class="paddle_button" data-product="508528" data-allow-quantity="false">Buy Now!</a>
  </section>
  <section>
    <h2>FastSpring</h2>
    <p>TODO</p>
  </section>

  </main>
  <section>
    <pre id="log" style="background-color: #ccc;">

    </pre>
  </section>
</body>
<script src="https://cdn.paddle.com/paddle/paddle.js"></script>
<script type="text/javascript">
  Paddle.Setup({
    vendor: 16159
  });
</script>
<script src="/assets/js/application.js"></script>
</html>